body {
  background-image: url("../assets/home/background-home-mobile.jpg");
}
.home__content {
  margin: 0 auto;
  width: 90%;
  max-width: 327px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.home__content h1 {
  margin-top: 37px;
  margin-bottom: 40px;
}

.home__content__button {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: var(--color-white);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 0 0px var(--color-light-gray-half-transparent);
}

.home__content__button:hover {
  cursor: pointer;
  box-shadow: 0 0 0 88px var(--color-light-gray-half-transparent);
}

@media screen and (min-width: 48rem) {
  body {
    background-image: url("../assets/home/background-home-tablet.jpg");
  }

  .home__content {
    max-width: 444px;
    height: 91vh;
  }

  .home__content__button {
    width: 242px;
    height: 242px;
  }
}

@media screen and (min-width: 80rem) {
  body {
    background-image: url("../assets/home/background-home-desktop.jpg");
  }

  .nav__content ul {
    background-color: hsl(0, 0%, 0%, 0.85);
  }

  @supports (backdrop-filter: blur(5px)) {
    .nav__content ul {
      background-color: hsl(0, 0%, 100%, 0.1);
      backdrop-filter: blur(5px);
    }
  }

  .home__content {
    padding: 0 165px 130px 165px;
    width: 100vw;
    max-width: unset;
    height: 85vh;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
  }

  .home__content__text {
    width: 450px;
    text-align: left;
  }

  .home__content__button {
    width: 274px;
    height: 274px;
  }
}
