@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap");
:root {
  --font-barlow: Barlow, sans-serif;
  --font-barlow-cond: "Barlow Condensed", sans-serif;
  --font-bellefair: Bellefair, serif;

  --color-dark: #0b0d17;
  --color-purple: #d0d6f9;
  --color-white: #ffffff;
  --color-nav-bg: #262a33;
  --color-navbar-line: #484b54;
  --color-hover: #85868b;

  --color-crew-border: #383b4b;
  --color-crew-rank: #909296;
  --color-crew-bullet: #36373f;
  --color-technology-circle: #484951;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 80px;
  color: var(--color-white);
}

h2 {
  font-size: 56px;
  color: var(--color-white);
}

h3 {
  font-size: 24px;
  color: var(--color-white);
}

h4,
.btn__explore {
  font-size: 20px;
  letter-spacing: 1.25px;
  color: var(--color-dark);
}

h5 {
  font-size: 16px;
  letter-spacing: 2.7px;
  color: var(--color-purple);
}

.p__text {
  font-family: var(--font-barlow);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: var(--color-purple);
}

.p__subheading1 {
  font-size: 28px;
  color: var(--color-white);
}

.p__subheading2 {
  font-size: 14px;
  letter-spacing: 2.36px;
  color: var(--color-purple);
}

.p__tabs {
  font-size: 14px;
  letter-spacing: 2.36;
  color: var(--color-purple);
}

a {
  font-size: 16px;
  letter-spacing: 2.7px;
  color: var(--color-white);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
.btn__explore,
.p__subheading1 {
  font-family: var(--font-bellefair);
  font-weight: 400;
  text-transform: uppercase;
}

h5,
.p__subheading2,
a {
  font-family: var(--font-barlow-cond);
  font-weight: 400;
  text-transform: uppercase;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

@media screen and (min-width: 48rem) {
  h1 {
    font-size: 150px;
  }

  h2 {
    font-size: 80px;
  }

  h3 {
    font-size: 40px;
  }

  h4,
  .btn__explore {
    font-size: 24px;
    letter-spacing: 2px;
  }

  h5 {
    font-size: 20px;
    letter-spacing: 3.38px;
  }

  .p__text {
    font-size: 16px;
    line-height: 28px;
  }

  .p__tabs {
    font-size: 16px;
    letter-spacing: 2.7;
  }

  a {
    font-size: 14px;
    letter-spacing: 2.36px;
  }
}

@media screen and (min-width: 80rem) {
  h2 {
    font-size: 100px;
  }

  h3 {
    font-size: 56px;
  }

  h4,
  .btn__explore {
    font-size: 32px;
  }

  h5 {
    font-size: 28px;
    letter-spacing: 4.75px;
  }

  .p__text {
    font-size: 18px;
    line-height: 32px;
  }

  a {
    font-size: 16px;
    letter-spacing: 2.7px;
  }
}
